ENCRYPTION_SECRET=H+KbL/OFrqbEuDy/1zX8bsPG+spXri3S

DATABASE_URL=postgresql://postgres:typebot@localhost:5432/typebot

NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_VIEWER_URL=http://localhost:3001

GITHUB_CLIENT_ID=534b549dd17709a743a2
GITHUB_CLIENT_SECRET=7adb03507504fb1a54422f6c3c697277cfd000a9

S3_ACCESS_KEY=minio
S3_SECRET_KEY=minio123
S3_BUCKET=typebot
S3_PORT=9000
S3_ENDPOINT=localhost
S3_SSL=false

NODE_OPTIONS=--no-node-snapshot

NEXT_PUBLIC_PARTYKIT_HOST=localhost:1999

# Smtp
NEXT_PUBLIC_SMTP_FROM=no-reply@tavindo.com.br
SMTP_HOST=smtp.mailersend.net
SMTP_PORT=587
SMTP_USERNAME=MS_pRM87y@tavindo.com.br
SMTP_PASSWORD=mssp.TJxR94F.3z0vklokv1v47qrx.cUjszqq
SMTP_SECURE=false
SMTP_IGNORE_TLS=false

# For more configuration options check out: https://docs.typebot.io/self-hosting/configuration

# Optional: allow embedding Typebot Builder in Chatwoot custom menu iframe
CHATWOOT_FRAME_ANCESTORS=http://localhost:3000,http://127.0.0.1:3000,http://192.168.1.7:3000
